/* ==========================================================================
PlayGame
========================================================================== */
.visited {
}
.notVisited {
  background-color: gray;
}
.cell {
  border: solid 1px;
}
.noDisplay {
  display: none;
}
