<div>
  <h2 id="page-heading">
    <span jhiTranslate="wumpusJhApp.play-game.home.title">Welcome to Wumpus game</span>
  </h2>
  <div *ngIf="!gameStarted">
    <form name="selectGameForm" role="form" (ngSubmit)="startGame()" #selectGameForm="ngForm" *ngIf="!success">
      <div class="form-group">
        <label class="form-control-label" jhiTranslate="wumpusJhApp.play-game.home.select-game" for="field_select_game">Game</label>
        <select class="form-control" id="field_select_game" name="game" [(ngModel)]="game" required>
          <option [ngValue]="null"></option>
          <option [ngValue]="gameOption" *ngFor="let gameOption of games; trackBy: trackId">{{getDescription(gameOption)}}</option>
        </select>
      </div>
      <button id="jh-create-entity" [disabled]="selectGameForm.form.invalid" class="btn btn-primary float-right">
        <fa-icon [icon]="'plus'"></fa-icon>
        <span  jhiTranslate="wumpusJhApp.play-game.home.start-playing">
          Start playing
        </span>
      </button>
    </form>
  </div>
  <div *ngIf="gameStarted">
    <div *ngIf="game.board" id="board" class="container">
      <div *ngFor="let row of getKeys(game.board)" class="row" style="min-height:50px;">
        <div *ngFor="let field of getKeys(game.board[row])" class="col-sm" [ngClass]="{'cell':true, 'notVisited': !game.board[row][field].visited }">
          <div [ngClass]="{'noDisplay': !game.board[row][field].visited }">
            <div class="row" >
              <div class="col-sm, elements" style="min-height:20px;">
                {{printElements(game.board[row][field])}}
              </div>
            </div>
            <div class="row">
              <div class="col-sm, elements" style="min-height:20px;">
                {{printPerceptions(game.board[row][field])}}
              </div>
            </div>
          </div>
        </div>
      </div>
      <div id="controls-area" class="row">

        <div id="directions" class="col-sm">
          <div class="row">
            <div class="col-sm" jhiTranslate="wumpusJhApp.play-game.directions.title">
              Move hunter
            </div>
          </div>
          <div class="row">
            <button id="up" class="btn btn-info btn-up" style="margin-left:50%;" (click)="moveUp()">
              <span  jhiTranslate="wumpusJhApp.play-game.directions.up">
                Up
              </span>
            </button>
          </div>
          <div class="row">
            <button id="left" class="col-sm btn btn-info float-left" (click)="moveLeft()">
              <span  jhiTranslate="wumpusJhApp.play-game.directions.left">
                Left
              </span>
            </button>
            <button id="down" class="col-sm btn btn-info" (click)="moveDown()">
              <span jhiTranslate="wumpusJhApp.play-game.directions.down">
                Down
              </span>
            </button>
            <button id="right" class="col-sm btn btn-info float-right" (click)="moveRight()">
              <span  jhiTranslate="wumpusJhApp.play-game.directions.right">
                Right
              </span>
            </button>
          </div>
        </div>
        <div id="spacer" class="col-sm" style="min-width:50px">
        </div>
        <div id="arrows" class="col-sm">
          <div class="row">
            <div class="col-sm" jhiTranslate="wumpusJhApp.play-game.arrows.title">
              Shoot arrow
            </div>
            <div class="col-sm" jhiTranslate="wumpusJhApp.play-game.arrows.available" translateValues="{ param: {{game.arrows}} }">
              Available: {{param}}
            </div>
          </div>
          <div class="row">
            <button id="shootup" class="btn btn-info btn-up" style="margin-left:50%;" (click)="shootUp()">
              <span  jhiTranslate="wumpusJhApp.play-game.directions.up">
                Up
              </span>
            </button>
          </div>
          <div class="row">
            <button id="shootleft" class="col-sm btn btn-info float-left" (click)="shootLeft()">
              <span  jhiTranslate="wumpusJhApp.play-game.directions.left">
                Left
              </span>
            </button>
            <button id="shootdown" class="col-sm btn btn-info" (click)="shootDown()">
              <span jhiTranslate="wumpusJhApp.play-game.directions.down">
                Down
              </span>
            </button>
            <button id="shootright" class="col-sm btn btn-info float-right" (click)="shootRight()">
              <span  jhiTranslate="wumpusJhApp.play-game.directions.right">
                Right
              </span>
            </button>
          </div>
        </div>
      </div>
    </div>
    <button id="jh-create-entity" class="row btn btn-danger" style="margin-left:50%; margin-top:50px;" (click)="endGame()">
      <span  jhiTranslate="wumpusJhApp.play-game.home.end-game">
        End game
      </span>
    </button>

  </div>
  <jhi-alert></jhi-alert>
  <br/>
</div>
