<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="gamePits">
            <h2><span jhiTranslate="wumpusJhApp.gamePits.detail.title">Game Pits</span> {{gamePits.id}}</h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="wumpusJhApp.gamePits.position">Position</span></dt>
                <dd>
                    <span>{{gamePits.position}}</span>
                </dd>
                <dt><span jhiTranslate="wumpusJhApp.gamePits.game">Game</span></dt>
                <dd>
                    <div *ngIf="gamePits.gameId">
                        <a [routerLink]="['/game', gamePits.gameId, 'view']">{{gamePits.gameId}}</a>
                    </div>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/game-pits', gamePits.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
            </button>
        </div>
    </div>
</div>
