<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="hunter">
            <h2><span jhiTranslate="wumpusJhApp.hunter.detail.title">Hunter</span> {{hunter.id}}</h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="wumpusJhApp.hunter.position">Position</span></dt>
                <dd>
                    <span>{{hunter.position}}</span>
                </dd>
                <dt><span jhiTranslate="wumpusJhApp.hunter.isAlive">Is Alive</span></dt>
                <dd>
                    <span>{{hunter.isAlive}}</span>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/hunter', hunter.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
            </button>
        </div>
    </div>
</div>
