<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">
            <h2 id="jhi-hunter-heading" jhiTranslate="wumpusJhApp.hunter.home.createOrEditLabel">Create or edit a Hunter</h2>
            <div>
                <jhi-alert-error></jhi-alert-error>
                <div class="form-group" [hidden]="!hunter.id">
                    <label for="id" jhiTranslate="global.field.id">ID</label>
                    <input type="text" class="form-control" id="id" name="id"
                        [(ngModel)]="hunter.id" readonly />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="wumpusJhApp.hunter.position" for="field_position">Position</label>
                    <input type="number" class="form-control" name="position" id="field_position"
                        [(ngModel)]="hunter.position" min="0" jhiMin="0"/>
                    <div [hidden]="!(editForm.controls.position?.dirty && editForm.controls.position?.invalid)">
                        <small class="form-text text-danger"
                            [hidden]="!editForm.controls.position?.errors?.min" jhiTranslate="entity.validation.min" translateValues="{ min: 0 }">
                            This field should be at least 0.
                        </small>
                        <small class="form-text text-danger"
                            [hidden]="!editForm.controls.position?.errors?.number" jhiTranslate="entity.validation.number">
                            This field should be a number.
                        </small>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="wumpusJhApp.hunter.isAlive" for="field_isAlive">Is Alive</label>
                    <input type="checkbox" class="form-control" name="isAlive" id="field_isAlive"
                        [(ngModel)]="hunter.isAlive" />
                    <div [hidden]="!(editForm.controls.isAlive?.dirty && editForm.controls.isAlive?.invalid)">
                        <small class="form-text text-danger"
                        [hidden]="!editForm.controls.isAlive?.errors?.required" jhiTranslate="entity.validation.required">
                        This field is required.
                        </small>
                    </div>
                </div>

            </div>
            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary"  (click)="previousState()">
                    <fa-icon [icon]="'ban'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
                </button>
                <button type="submit" id="save-entity" [disabled]="editForm.form.invalid || isSaving" class="btn btn-primary">
                    <fa-icon [icon]="'save'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
